@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.page-container{
  width: 100%;
  position: relative;
}

.logo{
  position: absolute;
  top: 35%;
  left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
}
.typo-style{
  color: red;
  cursor: pointer;
  font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
.typo-style:hover{
    transform: scale(1.2);
}

@media (max-width:400px) {
  .typo-style{
    font-size: 25px;
  }

    .logo {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 9999;
    }
  
}
.quote{
   
    animation: fadeIn 5s;
      color: red;
      font-family: "Protest Revolution", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.author{
animation: fadeIn 10s;
  font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}