@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
.image-fit{
    
            -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                width: 100%;
                height: 100vh;
        
}

.description{
    color:red ;
    font-family: "Protest Revolution", sans-serif;
        font-weight: 400;
        font-style: normal;
}

@media (max-width: 400px) {

    .description{
        font-size: 15px;
    }
    
}